body {
    margin: 0px !important;
    padding: 0px !important;
}

.loader {
    margin: auto;
    border: 16px solid #EDF4FD; /* Light grey */
    border-top: 16px solid #1F48B2; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }

    
  }

  
.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container img {
  display: block;
  width: 100vw;
  height: 100%;
}